pipeline/If_Conditionpipeline.json
{
	"name": "If_Conditionpipeline",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"value": {
								"type": "String"
							}
						}
					],
					"setSystemVariable": true
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('var'),'sanket')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"list": {
				"type": "Array"
			},
			"str": {
				"type": "String"
			},
			"str1": {
				"type": "String"
			},
			"str3": {
				"type": "String"
			},
			"str5": {
				"type": "String"
			},
			"FileAvail": {
				"type": "String"
			},
			"ls": {
				"type": "String"
			},
			"sanket": {
				"type": "String"
			},
			"var": {
				"type": "String"
			}
		},
		"annotations": []
	}
}